 body {
   margin: 0;
   height: 2000px;
   font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
 }
header {
  text-align: center;
  background-image: url(img/bac.jpg);
  background-size: cover;
}
header img {
 
}